<main class="md:w-10 md:mx-auto md:mb-2">
  <div class="card">
    <p-toolbar styleClass="mt-2 sticky top-0 z-1">
      <div class="toolbar-group-start">
        <strong>Stock</strong>
      </div>
      <div class="toolbar-group end flex gap-2">
        <p-button [icon]="getIconClass()" [rounded]="true" (onClick)="refreshTable()" />
        <p-autoComplete field="nombre" (completeMethod)="filterProduct($event)" [suggestions]="filteredProducts"
          (onSelect)="onSelect($event)" placeholder="Buscar producto" [showClear]="true"></p-autoComplete>
      </div>
    </p-toolbar>
  </div>
</main>