<main>
  <form class="mt-10 flex gap-8 flex-col px-2 justify-center items-center" [formGroup]="registerForm"
    (submit)="onSubmit()">
    <div class="field">
      <label for="name">Nombre</label>
      <input type="text" name="name" id="name" pInputText formControlName="name">
    </div>

    <div class="field">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" pInputText formControlName="email">
    </div>

    <div class="field">
      <label for="password">Contraseña</label>
      <input type="text" name="password" id="password" pInputText formControlName="password" type="password">
    </div>

    <div class="field">
      <label for="password">Repetir contraseña</label>
      <input type="text" name="password_confirmation" id="password_confirmation" pInputText
        formControlName="password_confirmation" type="password">
    </div>

    <div class=field>
      <label for="id_rol">Rol</label>
      <p-dropdown [options]="roles" optionLabel="nombre" optionValue="id" formControlName="id_rol"
        placeholder="Selecciona el rol" [filter]="true" filterBy="nombre" [showClear]="true"></p-dropdown>
    </div>

    @if (registerError) {
    <error-p>{{getError()}}</error-p>
    }

    <div class="flex gap-10">
      <p-button label="Enviar" type="submit"></p-button>
      <p-button label="Limpiar" type="reset"></p-button>
    </div>
  </form>
</main>