<app-header></app-header>
<main>
  <p-tabView>
    <p-tabPanel header="Activos">
      <p-accordion>
        @for (producto of productosActivos; track $index) {
          <p-accordionTab>
            <ng-template pTemplate="header">
              <div class="flex align-items-center gap-2 w-full">
                <p-avatar
                  [image]="producto.foto"
                  size="large"
                  shape="circle"
                  (onImageError)="setPlaceholder($event)"
                ></p-avatar>
                <span class="font-semibold text-base w-10">{{
                  producto.nombre
                }}</span>
              </div>
            </ng-template>

            <div>
              <p>Categoría: {{ producto.categoria }}</p>
              <p>Stock: {{ producto.cantidad }}</p>
              <p>Precio unitario: {{ producto.precio.toFixed(2) }}€</p>
            </div>
          </p-accordionTab>
        } @empty {
          <div
            class="w-full flex align-items-center justify-content-center gap-2 py-3 px-2"
          >
            <span class="font-semibold text-2xl">No hay productos</span>
          </div>
        }
      </p-accordion>
    </p-tabPanel>

    <p-tabPanel header="Inactivos">
      <p-accordion>
        @for (producto of productosInactivos; track $index) {
          <p-accordionTab>
            <ng-template pTemplate="header">
              <div class="flex align-items-center gap-2 w-full">
                <p-avatar
                  [image]="producto.foto"
                  size="large"
                  shape="circle"
                  (onImageError)="setPlaceholder($event)"
                ></p-avatar>
                <span class="font-semibold text-base w-10">{{
                  producto.nombre
                }}</span>
              </div>
            </ng-template>

            <div>
              <p>Categoría: {{ producto.categoria }}</p>
              <p>Stock: {{ producto.cantidad }}</p>
              <p>Precio unitario: {{ producto.precio.toFixed(2) }}€</p>
            </div>
          </p-accordionTab>
        } @empty {
          <div
            class="w-full flex align-items-center justify-content-center gap-2 py-3 px-2"
          >
            <span class="font-semibold text-2xl">No hay productos</span>
          </div>
        }
      </p-accordion>
    </p-tabPanel>
  </p-tabView>
</main>
