p-accordion ::ng-deep .p-accordion-content {
  padding-bottom: 10px;
}

div > p {
  margin-block: 8px;
}

p-tabView ::ng-deep .p-tabview-panels {
  padding: 0;
}

main {
  height: calc(100dvh - 70px);
}
