<main class="md:w-10 md:mx-auto">
  <div class="card">
    <p-toolbar styleClass="mt-2 sticky top-0 z-1">
      <div class="p-toolbar-group-start">
        <strong>Usuarios</strong>
      </div>
      <div class="p-toolbar-group-end flex gap-2">
        <p-button icon="pi pi-plus" [rounded]="true" (onClick)="register()" />
        <p-button [icon]="getIconClass()" [rounded]="true" (onClick)="refreshTable()"></p-button>
        <p-autoComplete field="name" (completeMethod)="filterUser($event)" [suggestions]="filteredUsers"
          (onSelect)="onSelect($event)" placeholder="Buscar usuario" [showClear]="true"></p-autoComplete>
      </div>
    </p-toolbar>
    <p-table styleClass="p-datatable-gridlines" [value]="users" [lazy]="true" (onLazyLoad)="loadUsers($event)"
      [paginator]="true" [rows]="paginationLimit" [loading]="loading" [totalRecords]="totalUsers"
      responsiveLayout="stack" [tableStyle]="{'min-width': '375px'}" dataKey="id" [(first)]="first">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo electrónico</th>
          <th>Estado</th>
          <th>Fecha de ingreso</th>
          <th>Rol</th>
          <th>Acciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.estado === true ? 'Alta' : 'Baja' }}</td>
          <td>{{ user.fecha_ingreso }}</td>
          <td>{{ user.id_rol }} ({{ user.rol | titlecase }})</td>
          <td class="px-0 md:px-3">
            <div class="flex gap-2 align-items-center">

              <app-admin-user-edit [user]="user" [roles]="roles" (onUpdate)="updateUser($event)"></app-admin-user-edit>

              <p-button label="Eliminar" severity="danger" styleClass="hidden md:inline ml-2"
                (onClick)="showDialog($event, user)" [disabled]="rolId !== 4 && user.id_rol === 4" />

              <p-button [rounded]="true" icon="pi pi-trash" severity="danger" styleClass="md:hidden"
                (onClick)="showDialog($event, user)" [disabled]="rolId !== 4 && user.id_rol === 4" />

              <app-user-edit-password [user]="user"></app-user-edit-password>

              <p-button label="Cerrar sesiones" severity="warning" styleClass="hidden md:inline ml-2"
                (onClick)="promptTokenRemoval($event, user)" [disabled]="rolId !== 4 && user.id_rol === 4" />

              <p-button [rounded]="true" icon="pi pi-minus-circle" severity="warning" styleClass="md:hidden"
                (onClick)="promptTokenRemoval($event, user)" [disabled]="rolId !== 4 && user.id_rol === 4" />
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-confirmDialog />
</main>