<main class="md:w-7 md:mx-auto md:mb-2">
  <div class="card">
    <p-toolbar styleClass="mt-2 sticky top-0 z-1">
      <div class="p-toolbar-group-start">
        <strong>Productos</strong>
      </div>
      <div class="toolbar-group-end flex gap-2">
        <app-create-product [categories]="categories"></app-create-product>
        <p-button
          [icon]="getIconClass()"
          [rounded]="true"
          (onClick)="refreshTable()"
        />
        <p-autoComplete
          field="nombre"
          (completeMethod)="filterProduct($event)"
          [suggestions]="filteredProducts"
          (onSelect)="onSelect($event)"
          placeholder="Buscar producto"
          [showClear]="true"
        ></p-autoComplete>
      </div>
    </p-toolbar>
    <p-table
      styleClass="p-datatable-gridlines"
      [value]="products"
      [lazy]="true"
      (onLazyLoad)="loadProducts($event)"
      [paginator]="true"
      [rows]="paginationLimit"
      [loading]="loading"
      [totalRecords]="totalProducts"
      responsiveLayout="stack"
      [tableStyle]="{ 'min-width': '375px' }"
      dataKey="id"
      [(first)]="first"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Foto</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Categoria</th>
          <th>Acciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.id }}</td>
          <td>{{ product.nombre }}</td>
          <td>
            <p-image
              [src]="product.foto"
              [alt]="product.nombre"
              width="150"
              height="100"
              [preview]="true"
              [style]="{ 'object-fit': 'cover' }"
              (onImageError)="setPlaceholder($event)"
            ></p-image>
          </td>
          <td>{{ product.precio }}€</td>
          <td>{{ product.cantidad }}</td>
          <td>{{ product.id_categoria }} ({{ product.categoria }})</td>
          <td class="px-0 md:px-3">
            <div class="flex gap-2 justify-content-start align-items-center">
              <app-producto-edit-dialog
                [product]="product"
                [categories]="categories"
                (onUpdate)="updateProduct($event)"
              ></app-producto-edit-dialog>

              <p-button
                label="Eliminar"
                severity="danger"
                styleClass="hidden md:inline md:ml-2"
                (onClick)="showDialog($event, product)"
              />

              <p-button
                [rounded]="true"
                icon="pi pi-trash"
                severity="danger"
                styleClass="md:hidden"
                (onClick)="showDialog($event, product)"
              />
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-confirmDialog />
</main>
