<main>
  <form class="mt-10 flex gap-8 flex-col px-2" [formGroup]="loginForm" (submit)="onLogin()">
    <span class="p-float-label">
      <input type="text" name="email" id="email" pInputText formControlName="email">
      <label for="email">Email</label>
    </span>

    <span class="p-float-label">
      <input type="text" name="password" id="password" pInputText formControlName="password" type="password">
      <label for="password"> Password</label>
    </span>

    <p-button label="submit" type="submit"></p-button>
  </form>
  <p-toast key="login" position="top-right"></p-toast>
</main>