label {
  font-size: 16px;
  display: block;
}

main {
  min-width: 320px;
  min-height: 100dvh;
  background-image: url("/assets/images/loginwallpaper-gradient.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

@-moz-document url-prefix() {
  main {
    background: var(--blue-500) !important;
  }
}

p-password ::ng-deep .p-password-input {
  width: 100%;
}

@media (min-width: 1024px) {
  form {
    padding-inline: 14rem !important;
    padding-block: 8rem !important;
  }
}

error-p {
  font-size: 13px;
}

.welcome__text {
  text-align: center;
  font-weight: 600;
}
