<main class="flex justify-content-center align-items-center bg-blue-100">
  <form
    class=""
    [formGroup]="loginForm"
    (submit)="onSubmit()"
    class="bg-white flex flex-column shadow-1 px-6 py-6 md:p-8"
  >
    <div class="w-full">
      <h2 class="text-center font-semibold">Bienvenido a RestPilot</h2>
    </div>
    <div class="field">
      <label for="email">Correo electrónico</label>
      <input
        type="text"
        name="email"
        id="email"
        pInputText
        formControlName="email"
        (click)="mark()"
        class="w-full"
      />
      @if (submitted && loginForm.controls.email.invalid) {
        <error-p class="pb-1">{{ getEmailErrors() }}</error-p>
      }
    </div>

    <div class="field">
      <label for="password">Contraseña</label>
      <p-password
        type="text"
        name="password"
        id="password"
        formControlName="password"
        type="password"
        (click)="mark()"
        styleClass="w-full"
        [feedback]="false"
        [toggleMask]="true"
      />
      @if (submitted && loginForm.controls.password.invalid) {
        <error-p class="pb-1">{{ getPasswordErrors() }}</error-p>
      }
      @if (loginError) {
        <error-p>{{ getLoginError() }}</error-p>
      }
    </div>

    <p-button
      label="Enviar"
      type="submit"
      styleClass="w-full"
      [loading]="loading"
      iconPos="right"
    />
  </form>
</main>
