label {
  font-size: 16px;
  display: block;
}

main {
  min-width: 360px;
  /* background: #C8DEFE; */
}

@media (min-width: 1024px) {
  form {
    padding-inline: 14rem !important;
    padding-block: 8rem !important
  }
}

error-p {
  font-size: 13px;
  /* TODO: arreglar el error de minlength para que no haga mas grande la pantalla */
}