<main class="md:w-6 md:mx-auto">
  <div class="card">
    <p-toolbar styleClass="mt-2">
      <div class="p-toolbar-group-start">
        <strong>Roles</strong>
      </div>
      <div class="p-toolbar-group-end">
        <app-create-rol (newRol)="pushRol($event)"></app-create-rol>
      </div>
    </p-toolbar>
    <p-table [value]="roles" styleClass="p-datatable-gridlines" [breakpoint]="'600px'" responsiveLayout="stack"
      [tableStyle]="{'min-width': '375px'}" scrollHeight="flex" [paginator]="true" [rows]="5">

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id" class="md:w-3">
            ID <p-sortIcon field="id" />
          </th>
          <th pSortableColumn="nombre" class="md:w-3">
            Nombre <p-sortIcon field="nombre" />
          </th>
          <th class="md:w-6">Acciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rol>
        <tr>
          <td>{{ rol.id }}</td>
          <td>{{ rol.nombre }}</td>

          <td>
            <div class="flex gap-2 justify-content-start">

              <app-rol-edit-dialog [rol]="rol" (onUpdate)="updateRol($event)"></app-rol-edit-dialog>

              <p-button label="Eliminar" severity="danger" styleClass="hidden md:inline md:ml-2"
                (onClick)="showDialog($event, rol)" [disabled]="rol.id === 4" />

              <p-button [rounded]="true" icon="pi pi-trash" severity="danger" styleClass="md:hidden"
                (onClick)="showDialog($event, rol)" [disabled]="rol.id === 4" />

              <app-users-by-rol [rol]="rol"></app-users-by-rol>
            </div>
          </td>
        </tr>
      </ng-template>

    </p-table>
  </div>
  <p-confirmDialog />
</main>