.p-dock {
  z-index: 1000;
}

p-dock ::ng-deep .p-dock:hover {
  z-index: 100000;
}

#menubar {
  height: 30px;
}

.dock-window {
  width: 100%;
  height: calc(100dvh - 30px);
  position: relative;
  background-image: url("/assets/images/golira.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

p-menubar ::ng-deep .p-menubar {
  height: 100%;
}

p-dialog ::ng-deep .p-dialog {
  max-width: 100%;
}

p-dialog ::ng-deep .p-dialog-header {
  height: 25px;
  border-bottom: 1px solid #ccc;
}

/* 
p-dock ::ng-deep .p-dock-item:nth-of-type(5) img {
  transform: rotate(90deg);
} */