/* You can add global styles to this file, and also import other style files */
@layer primeng;
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import url("./assets/fonts/Ranade/css/ranade.css");

* {
  box-sizing: border-box;
  /* font-family: 'Ranade', sans-serif; */
}

a:active,
a:visited {
  color: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 250px;
}

p-image ::ng-deep img {
  object-fit: cover;
}

img {
  object-fit: cover;
}
