/* You can add global styles to this file, and also import other style files */
@layer primeng;
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

* {
  box-sizing: border-box;
}

a:active,
a:visited {
  color: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}
