<p-button
  label="Nuevo pedido"
  styleClass="w-full"
  (onClick)="newPedido(mesa.id)"
/>

<div class="card flex justify-content-center">
  <p-dialog
    [(visible)]="isVisible"
    [maximizable]="true"
    [modal]="true"
    header="Nuevo pedido"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [draggable]="false"
    (onHide)="refresh()"
  >
    <form [formGroup]="newPedidoForm" (submit)="onCreate()">
      <div class="field">
        <label for="numero_comensales">Número de comensales</label>
        <p-inputNumber
          [min]="1"
          formControlName="numero_comensales"
          class="w-full"
          styleClass="w-full"
        />
        @if (submitted && newPedidoForm.controls.numero_comensales.invalid) {
          <error-p>{{ getNumeroComensalesError() }}</error-p>
        }
      </div>

      <div class="hidden">
        <label for="id_mesa">ID de Mesa</label>
        <p-inputNumber
          readonly
          formControlName="id_mesa"
          class="w-full"
          styleClass="w-full"
        />
      </div>

      <div class="hidden">
        <label for="id_usuario">ID de Empleado</label>
        <p-inputNumber
          readonly
          formControlName="id_usuario"
          class="w-full"
          styleClass="w-full"
        />
      </div>

      <p-button
        label="Crear"
        styleClass="w-full"
        type="submit"
        [loading]="isLoading"
        iconPos="right"
      ></p-button>
    </form>
  </p-dialog>
</div>
