<p-button
  [rounded]="true"
  icon="pi pi-pencil"
  severity="secondary"
  (onClick)="showDialog()"
  [disabled]="linea.estado_numero === 1"
/>
<p-dialog
  [(visible)]="isVisible"
  [draggable]="false"
  [modal]="true"
  [maximizable]="true"
  (onHide)="refresh()"
>
  <span class="font-bold mb-1">
    Información de la línea {{ linea.cantidad }}x {{ linea.producto }}
  </span>

  <form [formGroup]="lineaForm" (submit)="onSubmit($event)">
    <div class="field">
      <label for="cantidad">Cantidad</label>
      <p-inputNumber
        [min]="1"
        formControlName="cantidad"
        class="w-full"
        styleClass="w-full"
      />
      @if (submitted && lineaForm.controls.cantidad.invalid) {
        <error-p class="pb-1">{{ getCantidadErrors() }}</error-p>
      }
    </div>

    <p-button
      type="submit"
      label="Actualizar línea"
      styleClass="w-full"
      [loading]="isLoading"
      iconPos="right"
    />
  </form>
</p-dialog>
