main {
  min-width: 260px;
}

#cards {
  display: grid;
  gap: 0.7rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* @media screen and (min-width: 768px) {
  #cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr min-content;
  }
} */

@media screen and (min-width: 1275px) {
  #cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* p-panel ::ng-deep .p-panel-content {
  display: none !important;
} */

p-panel ::ng-deep .p-panel {
  border-radius: 0px;
}

.box-primary {
  .p-ink {
    background: #13b7d452;
  }
}

label {
  display: block;
  font-size: 16px;
}

hr {
  border: 0.5px dashed;
}

.factura-row,
.factura-header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ud {
  width: 10% !important;
}

.factura-row span,
.factura-header span {
  width: 24%;
  margin-inline: 0.4rem;
}

.producto {
  width: 40% !important;
}

.factura-header span {
  font-size: 16px;
  text-align: center;
}

.number {
  text-align: right;
}
