<app-header></app-header>
<main>

  @for (linea of lineas; track linea.id) {
  <p-panel [toggleable]="true" [collapsed]="true" toggler="header" styleClass="lg:hidden">

    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-2">
        <p-avatar [image]="linea.producto_foto" shape="circle" size="large" />
        <span class="font-medium">{{linea.cantidad}} {{linea.producto}}</span>
      </div>
    </ng-template>

    <div class="flex justify-content-between align-items-center">
      <p>Nº Pedido: {{ linea.id_pedido }}</p>
      <p-button (click)="completarLinea(linea.id)">Completar</p-button>
    </div>

  </p-panel>
  }

  <p-dataView #dv [value]="lineas" styleClass="hidden lg:block">
    <ng-template pTemplate="list" let-products>
      <div class="grid grid-nogutter">
        <div class="col-12" *ngFor="let item of lineas; let first = first; track item.id" class="col-12">
          <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3"
            [ngClass]="{ 'border-top-1 surface-border': !first }">
            <div class="md:w-10rem relative">
              <img class="block xl:block mx-auto border-round w-full" [src]="item.producto_foto"
                [alt]="item.producto" />
            </div>
            <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
              <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                <div>
                  <span class="font-medium text-secondary text-sm">{{ item.tipo | titlecase }}</span>
                  <div class="text-lg font-medium text-900 mt-2">{{ item.producto }}</div>
                </div>
                <div class="surface-100 p-1" style="border-radius: 30px">
                  <div class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2"
                    style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)">
                    <span class="text-900 font-medium text-sm">Cantidad: {{ item.cantidad }}</span>
                  </div>
                </div>
              </div>
              <div class="flex flex-column md:align-items-end gap-5">
                <span class="text-xl font-semibold text-900">{{ (item.precio * item.cantidad).toFixed(2) + '€' }}</span>
                <div class="flex flex-row-reverse md:flex-row gap-2">
                  <p-button icon="pi pi-check" class="flex-auto md:flex-initial white-space-nowrap" label="Completar"
                    (click)="completarLinea(item.id)" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>

</main>