.wrapper {
  width: 120px;
  height: 70px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.product__wrapper {
  gap: 1.2rem;
}

.product__name {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.pedido__number {
  font-size: 0.9rem;
  color: var(--surface-500);
}

/* md:w-10rem relative  */

/* block xl:block mx-auto border-round w-full */
